---
import '../styles/global.css';
import Layout from '../Layouts/layout.astro';
import Navbar from '../Components/Navbar.svelte';
import Footer from '../Components/Footer.svelte';
import Hero from '../Components/Hero.svelte';
import About from '../Components/About.svelte';
import Skills from '../Components/Skills.svelte';
import Experience from '../Components/expereince.svelte';
import Education from '../Components/education.svelte';
import Projects from '../Components/Projects.astro';
import Contact from '../Components/Contact.svelte'

---

<Layout>
	<nav>
		<Navbar />
		<Hero />
	</nav>
	<main>
		<div></div>
		<About />
		<div>
			<Skills />
		</div>

		<div>
			<Experience />
		</div>

		<div>
			<Education />
		</div>
		
		<div>
			<Projects /> 
		</div>
		
		<div>
			<Contact />
		</div>
	
	</main>
	
	
	
	<Footer />
</Layout>
