---
import '../styles/global.css';
import LoadingScreen from '../Components/LoadingScreen.svelte';


---

<html lang="en" data-theme="light">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/Logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Buhlebethu Mkhonta</title>
		<script>
			// Scroll to top on page load
			window.addEventListener('load', () => {
				window.scrollTo(0, 0);
			});
			
			// Also scroll to top when navigating
			document.addEventListener('astro:page-load', () => {
				window.scrollTo(0, 0);
			});
		</script>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1329418312800970"
		crossorigin="anonymous"></script>
	</head>

	<body>
		<LoadingScreen client:load />
		<slot />
	</body>
</html>
